.game {
  background-color: blueviolet;
  min-height: 100vh;
}

.statusContainer {
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.cardsContainer {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}
